/**
 *
 */

[class*=" icon-"], [class^=icon-] {
    font-family: FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-menu:before {
    content: "\f0c9";
}

.icon-github:before {
    content: "\f092";
}

.icon-facebook:before {
    content: "\f082";
}

.icon-twitter:before {
    content: "\f081";
}

.icon-share:before {
    content: "\f1e0";
}